<div>
    <img src="https://user-images.githubusercontent.com/23629340/36723774-7d791ef2-1bb1-11e8-991b-39dbf4fd8a59.png" alt class="beer" width="25vw" heigth="150vh">
    <a href="">Check the Beers!</a>
    <a href="">Check a Random Beer</a>
</div>